.headerRoot {
    background-color: #116466;
    text-align: right;
    height: 100px;
    padding-top: 40px;
    padding-right: 50px;
    font-size: 100px;
    font-family: cursive;
    font-weight: bolder;
    color: white;

}